<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" metadata-complete="true"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<servlet>
		<servlet-name>na</servlet-name>
		<servlet-class>com.newlecture.Nana</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>na</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>noticeReg</servlet-name>
		<servlet-class>com.newlecture.NoticeReg</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>noticeReg</servlet-name>
		<url-pattern>/notice-reg</url-pattern>
	</servlet-mapping>
	
	
	<!-- xml에 필터 적용하기. -->
<!-- 	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>com.newlecture.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->



</web-app>